---
title: Nguyễn Tuấn Anh
permalink: /
layout: splash
header:
  overlay_color: "#f540216e"
  overlay_image: /assets/images/home.jpg
  overlay_filter: 0.2
excerpt: "Coder / Researcher / Tech-Evangelist"

thought:
  - title: "Câu nói hay"
  - excerpt: '"I have the power to do and to be whatever I wish to do and be."<br />**---<cite>The Power of Concentration</cite>**'
  - url: "/thoughts/2017_thoughts/"
    btn_label: "Còn nữa..."
    btn_class: "btn btn--small btn--inverse"

all_posts:
  - url: "/blog/"
    btn_label: "Còn nữa..."
    btn_class: "btn btn--small btn--inverse"

all_projects:
    - url: "/portfolio/"
      btn_label: "Còn nữa..."
      btn_class: "btn btn--small btn--inverse"

til:
  - title: "Hôm nay tôi đã học được điều thú vị:"
  - excerpt: "[Xây dựng hệ thống tìm kiếm nhạc bằng âm thanh với Python và Approximate Nearest Neighbors](https://viblo.asia/p/xay-dung-he-thong-tim-kiem-nhac-bang-am-thanh-voi-python-va-approximate-nearest-neighbors-924lJbXWlPM?fbclid=IwAR34stRTf8iB-x-_asmUljiiVkQzHEjhbVV94V6xBae-HIRGF7UgPH8MjH8)<br />**---<cite>Machine Learning</cite>**"
  - url: "/til/2018_til/"
    btn_label: "Còn nữa..."
    btn_class: "btn btn--small btn--inverse"
---

{% include feature_row id="thought" type="center" %}

<h1><center>Tin mới</center></h1>
<br />
<div class="grid_wrapper">
  {% for post in site.posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
  <table >
      <tr>
          {% for post in site.posts offset:4 limit:4 %}
           <td> {% include archive-single.html type="columns" %}</td>
          {% endfor %}
      </tr>
 <!-- </table>
 <table  > -->
     <tr>
         {% for post in site.posts offset:8 limit:4 %}
          <td> {% include archive-single.html type="columns" %}</td>
         {% endfor %}
     </tr>
     <tr>
         {% for post in site.posts offset:12 limit:4 %}
          <td> {% include archive-single.html type="columns" %}</td>
         {% endfor %}
     </tr>
</table>

</div>
{% include feature_row id="all_posts" type="center" %}




<h1><center>Vài bài viết tâm huyết</center></h1>
<br />
<div class="grid_wrapper">
  {% assign items = site.portfolio | sort: 'date' | reverse %}
  {% for post in items limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
  <table >
      <tr>
          {% for post in site.portfolio offset:4 limit:4 %}
           <td> {% include archive-single.html type="columns" %}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for post in site.portfolio offset:8 limit:4 %}
           <td> {% include archive-single.html type="columns" %}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for post in site.portfolio offset:12 limit:4 %}
           <td> {% include archive-single.html type="columns" %}</td>
          {% endfor %}
      </tr>
 </table>
</div>
{% include feature_row id="all_projects" type="center" %}

{% include feature_row id="til" type="center" %}
