<div id="footer-outer">
	<footer id="footer" class="container">
	<div class="box">
		<h4>Theo dõi blog</h4>
		<ul>
			<li><a href="{{ site.site_url }}">Trang chủ</a></li>
			<li><a target="_blank" href="https://www.facebook.com/hoilaptrinhviennhandan/" rel="noopener">Chúng tôi trên Facebook</a></li>
			<li><a target="_blank" href="https://www.youtube.com/channel/UC5CIt5W4kq4ie0KJEdg2ztg?sub_confirmation=1" rel="noopener">Chúng tôi trên Youtube</a></li>
			<li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSelxVBIAXxrtOgyfJZ9GXXnbKKK6r5xbJKxodNPUoElNnsBCg/viewform" rel="noopener">Yêu cầu viết bài</a></li>
			
	  	</ul>
	</div>
	<div class="box">
		<h4>Link hữu ích</h4>
		<ul>
			<li><a href="{{ site.site_url }}/gioi-thieu.html">Giới thiệu blog</a></li>
			<li><a href="{{ site.site_url }}/bai-viet-hay.html">Bài viết hay</a></li>
			<li><a href="{{ site.site_url }}/policies.html">Điều khoản</a></li>
			<li><a target="_blank" href="http://buivannguyen.com" rel="noopener">Website Tác giả</a></li>
	  	</ul>
	</div>
	<div class="box">
		<h4>Blog bạn bè</h4>
		<ul>
			<li><a target="_blank" href="http://toidicodedao.com" rel="noopener">Tôi đi code dạo</a></li>
			<li><a target="_blank" href="https://niviki.com" rel="noopener">Niviki.com</a></li>
			<li><a target="_blank" href="http://www.giaosucan.com" rel="noopener">Giaosucan's Blog</a></li>
			<li><a target="_blank" href="https://jaredchu.com/" rel="noopener">The Lazy Dev</a></li>
	  	</ul>
	</div>
	<div class="box">
		<h4>Kết nối</h4>
		<ul>
			<li><a target="_blank" href="http://buivannguyen.com" rel="noopener">Website Tác giả</a></li>
			<li><a target="_blank" href="https://twitter.com/bui_van_nguyen" rel="noopener">Tôi trên Twitter</a></li>
			<li><a target="_blank" href="http://instagram.com/bui_van_nguyen" rel="noopener">Tôi trên Instagram</a></li>
			<li><a target="_blank" href="http://www.gocnhinphang.com" rel="noopener">Góc nhìn phẳng</a></li>
	  	</ul>
	</div>
	<div class="clear"></div>
	<div class="tag_cloud">
		<h4>Tags</h4>
		{% for tag in site.tags_config %}
		<a href="{{ site.site_url }}/tags/{{ tag.slug }}" target="_blank">{{ tag.name }}</a>,
	  	{% endfor %}
	  </div>
	</footer>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=299675953750632&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33082243-4', 'auto');
  ga('send', 'pageview');

</script>
<script src="{{ site.site_url }}/script.js"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "a06c6a45-e9d8-4ae0-8745-a72b98dbe629",
    });
  });
</script>
</body>
</html>
