<!DOCTYPE HTML>
<html>
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }} - {{ site.description }}{% endif %}</title>
    <link rel="icon" type="image/x-icon" href="{{ site.site_url }}/favicon.ico">
    <meta content='index, follow' name='robots'/>
    <meta name="theme-color" content="#1a344f" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=vietnamese" rel="stylesheet">
    {% if page.excerpt %}
    <meta id="metaDescription" name="description" content="{{ page.excerpt| strip_html | strip_newlines | xml_escape }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html | strip_newlines | xml_escape }}" />
    <meta property="og:type" content="article" /> 
    {% else %}
    <meta id="metaDescription" name="description" content="{{ site.seo_description | xml_escape }}">
    <meta property="og:description" content="{{ site.seo_description | xml_escape }}" />
    <meta property="og:type" content="website" /> 
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
    {% endif %}
    {% if page.url %}
    <meta property="og:url" content="{{ site.site_url }}{{ page.url }}" />
    {% endif %}

    {% if page.cover %}
    <meta property='og:image' content='{{ site.site_url }}/images/{{ page.cover }}' />
    {% elsif page.thumbnail %}
    <meta property='og:image' content='{{ site.site_url }}/images/{{ page.thumbnail }}' />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    {% else %}
    <meta property='og:image' content='{{ site.site_url }}/images/programming-thumb.png' />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    {% endif %}
    <meta property="og:image:type" content="image/jpeg" /> 


    <link rel='stylesheet' async defer type='text/css' href='{{ site.site_url }}/style.css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.site_url }}/feed.xml" />
    <meta property="fb:app_id" content="299675953750632"/>
    <meta property="fb:admins" content="100008271487366"/>
    <link href="https://plus.google.com/104574678671842857033" rel="author" />   
    <link href="https://plus.google.com/104574678671842857033" rel="publisher" />
    <meta property="fb:pages" content="367752623589322" />
    <meta http-equiv="REFRESH" content="1800" />
    <link rel="manifest" href="/manifest.json" />
</head>
<body>
<header id="header">
    <div id="logo">
        <h1><a href="{{ site.site_url }}">{{ site.name }}</a></h1>
    </div>
    <ul>
        <li><a href="{{ site.site_url }}">Trang chủ</a></li>
        <li><a href="{{ site.site_url }}/khoa-hoc-full-stack-web-developer.html">Khóa học</a></li>
        <li><a href="{{ site.site_url }}/bai-viet-hay.html">Bài viết hay</a></li>
        <li><a href="{{ site.site_url }}/gioi-thieu.html">Tác giả</a></li>
        <li><a target="_blank" href="https://www.facebook.com/hoilaptrinhviennhandan/" rel="noopener">Fan page</a></li>
        <li><a href="{{ site.site_url }}/search.html">Tìm kiếm</a></li>
    </ul>
    <div class="clear"></div>
</header>
